# Copy this file to your own config.yml and edit as needed.

google_sheets_filename: demo_gitflow_dashboard

master_branch: master
develop_branch: develop
include: [ .*feature.*, .*hotfix.* ]

api_endpoint: https://api.github.com
org: jeff-zohrab
repo: demo_gitflow
