# Copy this file to your own config.yml and edit as needed.

master_branch: master
develop_branch: develop

## Use this to speed up run during development:
# branches:
#  - origin/1001520
#  - origin/1005715

# GitHub
github:

  api_endpoint: https://api.github.com
  org: jeff-zohrab
  repo: demo_gitflow

# We need a local clone to pull some information down
# which could be expensive to compute from the API
# only.
localclone:
  source_dir: ../demo_gitflow
  origin_name: origin
  do_fetch: false
  do_prune: false
